.card{
    justify-content: center;
    border: double;
    position: absolute;
    left: 30em;
    height: 50em;
    top: 4em;
}

img{
    position: relative;
    left: 9em;
    width: 200px;
    border-radius: 9em;

}

h2{
    padding-left: 5.5em;
}

p{
    padding-left: 3em;
}

